{% load static humanize %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Уралкон. Система бронирования</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'bower_components/air-datepicker/dist/css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/uralcon.css' %}">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/air-datepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'js/uralcon.js' %}"></script>
  </head>
  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <h1 class="title">
                  Уралкон
                </h1>
              </a>
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            {% if request.user.is_authenticated %}
            <div class="navbar-menu">
              <div class="navbar-end">
                {% if request.user.get_total_amount %}
                  <span class="navbar-item">
                    <span class="tag is-medium is-danger">
                      К оплате за услуги:&nbsp;<strong class="has-text-weight-bold">{{ request.user.get_total_amount|intcomma }} ₽</strong>
                    </span>
                  </span>
                {% endif %}
                <a class="navbar-item" href="{% url 'user_profile' %}">
                  Профиль
                </a>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted" href="{% url 'logout' %}">
                    <span>Выйти</span>
                  </a>
                </span>
              </div>
            </div>
            {% endif %}
          </div>
        </nav>
      </div>

      {% if request.user.is_authenticated %}
      <div class="hero-foot">
        <nav class="tabs is-boxed">
          <div class="container">
            <ul>
              <li {% if 'order/order/' in request.META.PATH_INFO %}class="is-active"{% endif %}>
                <a href="{% url 'order' %}">Бронирование билетов</a>
              </li>
              <li {% if 'order/eat/' in request.META.PATH_INFO %}class="is-active"{% endif %}>
                <a href="{% url 'eat' %}">Еда</a>
              </li>
              <li {% if 'order/transfer/' in request.META.PATH_INFO %}class="is-active"{% endif %}>
                <a href="{% url 'transfer' %}">Трансфер</a>
              </li>
              <li {% if 'order/order-list/' in request.META.PATH_INFO %}class="is-active"{% endif %}>
                <a href="{% url 'order_list' %}">Участники</a>
              </li>
              <li {% if 'order/event-request/' in request.META.PATH_INFO %}class="is-active"{% endif %}>
                <a href="{% url 'event_request' %}">Заявка на проведение мероприятия</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      {% endif %}
    </section>

    <section class="section">
      <div class="container">
      {% block content %}
      {% endblock %}
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content">
          <p>
            <strong>Фестиваль «Уралкон».</strong> Контакты оргкомитета — <a href="https://ural-kon.ru/orgkomitet">https://ural-kon.ru/orgkomitet</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>