<div class="message">
    <div class="message-body">
        {% if user.has_group_owner %}
            <p>
                Вы автор группы «{{user.has_group_owner.name}}». Текущее бронирование будет распространяться на всю группу.
            </p>
            <br>

            {% if not order_stop %}
            <p>
                <a href="{% url 'order_group_edit' user.has_group_owner.pk %}" class="button ">
                    Редактировать группу
                </a>

                <a href="{% url 'order_group_delete' user.has_group_owner.pk %}" class="button is-light">
                    <span class="delete is-small"></span>&nbsp;
                    Удалить группу
                </a>
            </p>
            {% endif %}
        {% else %}
            <p>
                Вы участник группы «{{user.has_group.placement_group}}».
                {% if user.get_order.order.room.is_luxary %}
                    Все обязательства по оплате номера и бронированию берет на себя автор группы {{ user.has_group.placement_group.autor }}.
                {% endif %}
            </p>

            {% if not order_stop %}
                {% if not user.has_group.placement_group.autor.order_set.all %}
                    <br>
                    <p>
                        <a href="{% url 'order_group_leave' user.has_group.pk %}" class="button">
                            Покинуть группу
                        </a>
                    </p>
                {% else %}
                    <p>
                        <span class="tag is-danger">Вы уже не можете покинуть группу, так как владелец группы совершил заказ</span>
                    </p>
                {% endif %}
            {% endif %}
        {% endif %}
        <br>

        <div class="content">
            <h5 class="title is-5">Участники группы:</h5>
            <ul>
                {% for participant in user.has_group.placement_group.get_all_participant %}
                <li>
                    {{participant}}

                    {% if user.has_group_owner and participant not in user.children_set.all and user != participant %}
                        {% if participant.user %}
                            {% include 'order/snippets/_leave_group_link.html' with membership_pk=participant.user.has_group.pk %}
                        {% else %}
                            {% include 'order/snippets/_leave_group_link.html' with membership_pk=participant.has_group.pk %}
                        {% endif %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>