<div class="notification is-danger">
    <h4 class="title is-4">Администратор закрыл брониронирование</h4>
    <p>
        В настоящий момент операции, связанные с изменением данных бронирования, закрыты. Если вам нужно каким-то образом обновить
        информацию о своей брони, то свяжитесь с Николаем Шаровым: ВКонтакте <a href="https://vk.com/id8458237">https://vk.com/id8458237</a>
    </p>
</div>