<h3 class="title is-3">Детализация:</h3>
<table class="table is-striped is-hoverable is-fullwidth">
    <tr>
        <td>
            {% if order.order.order_type == 'room' %}
                <h5 class="title is-5">Место проживания: {{order.order.room}}</h5>
            {% else %}
                <h5 class="title is-5">{{order.order.get_penetration_type}}</h5>
            {% endif %}
        </td>
        <td></td>
    </tr>
    {% for u in order.price_by_people %}
    <tr>
        <td>{{ u.name }} {% if u.place %}<span class="help"> ({{ u.place|lower }})</span>{% endif %}</td>
        <td>{{ u.price }} ₽</td>
    </tr>
    {% endfor %}

    {% if order.order.free_beds_in_order and order.order.room.is_luxary %}
        {% for i in order.free_beds_in_order %}
        <tr>
            <td>Не занятая кровать</td>
            <td>{{ i.price }} ₽</td>
        </tr>
        {% endfor%}
    {% endif %}

    {% if order.order.without_other_mat_people and order.order.user == user%}
    <tr>
        <td>Доплата за отсутствие пеночников</td>
        <td>{{ without_other_mat_people }} ₽</td>
    </tr>
    {% endif %}

    {% if request.user.discount %}
    <tr>
        <td>Ваша персональная скидка</td>
        <td>–{{ request.user.discount }} ₽</td>
    </tr>
    {% endif %}
</table>