{% load order_tags %}

<tr>
    <td class="has-text-weight-bold	">{% if user == request.user%}Вы{% else%}{{user}}{% endif %}:</td>
    <td width="18%">
        <div class="control">
            <label class="radio">
                <input type="radio" name="{{user|modelname|lower}}-{{user.pk}}" value="bed" data-age="{{user.age}}"
                       {% placement_type_checked user=user place='bed' %} > Кровать
                <span class="help price"></span>
            </label>
        </div>
    </td>
    <td width="18%">
        <div class="control">
            <label class="radio">
                <input type="radio" name="{{user|modelname|lower}}-{{user.pk}}" value="mat" data-age="{{user.age}}"
                       {% placement_type_checked user=user place='mat' %} > Пенка
                <span class="help price"></span>
            </label>
        </div>
    </td>
    <td width="24%">
        {% if user.age < 8 %}
        <div class="control">
            <label class="radio">
                <input type="radio" name="{{user|modelname|lower}}-{{user.pk}}" value="together"
                       {% placement_type_checked user=user place='together' %} > Спит с родителем
                <span class="help price">Бесплатно</span>
            </label>
        </div>
        {% endif %}
    </td>
</tr>