{% load humanize %}

<br>
<div class="selected-time box" id="total-price">
    <div class="media">
        <div class="media-content">
            <div class="help">Итого к оплате за посещение и проживание:</div>
            <div>
                <span class="is-size-1 has-text-grey" id="total-price-value">{{ user.get_room_amount|intcomma }}</span>
                <span class="is-size-4 has-text-grey">₽</span>
            </div>
        </div>
    </div>
</div>