{% load order_tags %}

<div class="notification">Статус заявки:
    {% if request.user.get_order.order.accepted %}
        <span class="tag is-success">Прошла модерацию</span>
    {% else %}
        <span class="tag is-info">Отправлена на модерацию</span>
    {% endif %}

    {% if request.user.get_order.order.comment %}
        <br>
        <br>
        <strong class="title is-6">Комментарий:</strong>
        <em>{{ request.user.get_order.comment }}</em>
    {% endif %}
</div>

<div class="notification">Статус оплаты:
    {% if request.user.get_order.order.is_payed %}
        <span class="tag is-success">Оплачена</span>
    {% else %}
        <span class="tag is-info">Ожидает оплаты</span>
        {% if request.user.get_order.order.room.is_luxary and not request.user.get_order.order.is_payed %}
            <br>
            <em class="has-text-danger">Вам нужно заплатить не позднее: {{request.user.get_order.order.created_at|plus_days:7}}</em>
        {% endif %}
    {% endif %}
</div>
{% if request.user.userorder_set.all|length > 0 %}
    {% include 'order/snippets/_order_detail.html' with order=request.user.get_order discount=request.user.discount without_other_mat_people=without_other_mat_people user=request.user %}

    {% include 'order/snippets/_room_amount.html' with user=request.user %}

    {% if not order_stop %}
        {% if request.user.get_order and request.user == request.user.get_order.order.user %}
            <a href="{% url 'order_delete' request.user.get_order.order.pk %}" class="button is-danger">Отменить бронирование</a>
            <a href="{% url 'order_edit' request.user.get_order.order.pk %}" class="button">Изменить расселение</a>
        {% else %}
            <a href="{% url 'order_edit' request.user.get_order.order.pk %}" class="button">Изменить спальное место</a>
        {% endif %}
    {% endif %}
{% else %}
    <div class="notification is-danger" id="">
        Вам нужно выбрать спальное место в номере
    </div>
    <a href="{% url 'order_edit' request.user.get_order.order.pk %}" class="button">Указать спальное место</a>
{% endif %}

