{% load widget_tweaks %}

{% if form.non_field_errors %}
    <div class="notification is-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data" id="registration-form">
    {% csrf_token %}

    <div class="field">
        <label class="label">{{ form.email.label_tag }}</label>
        <div class="control has-icons-left ">
            {% render_field form.email class="input" %}
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <p class="help">Используется для авторизации</p>
        </div>
        {% if form.email.errors %}<div class="help is-danger">{{form.email.errors}}</div>{% endif %}
    </div>

    <div class="field">
        <label class="label">{{ form.first_name.label_tag }}</label>
        <div class="control">
            {% render_field form.first_name class="input" %}
        </div>
        {% if form.first_name.errors %}<div class="help is-danger">{{form.first_name.errors}}</div>{% endif %}
    </div>

    <div class="field">
        <label class="label">{{ form.last_name.label_tag }}</label>
        <div class="control">
            {% render_field form.last_name class="input" %}
        </div>
        {% if form.last_name.errors %}<div class="help is-danger">{{form.last_name.errors}}</div>{% endif %}
    </div>

    <div class="field">
        <label class="label">{{ form.nickname.label_tag }}</label>
        <div class="control">
            {% render_field form.nickname class="input" %}
        </div>
        {% if form.nickname.errors %}<div class="help is-danger">{{form.nickname.errors}}</div>{% endif %}
    </div>

    <div class="field">
        <label class="label">{{ form.vk_id.label_tag }}</label>
        <div class="control">
            {% render_field form.vk_id class="input" %}
        </div>
        {% if form.vk_id.errors %}<div class="help is-danger">{{form.vk_id.errors}}</div>{% endif %}
    </div>

    <div class="field">
        <label class="label">{{ form.birth_date.label_tag }}</label>
        <div class="control">
            {% render_field form.birth_date class="input" %}
            <p class="help">Если вам меньше 18 лет, то вы должны указать ответственное лицо</p>
        </div>
        {% if form.birth_date.errors %}<div class="help is-danger">{{form.birth_date.errors}}</div>{% endif %}
    </div>

    <!-- Выводится, если пользователю меньше 18 -->
    <div id="for-children-block" class="hidden">
        <div class="field">
            <div class="control">
                <label for="id_{{form.bring_doc_from_parents.html_name}}" class="checkbox">
                    {{ form.bring_doc_from_parents }} {{ form.bring_doc_from_parents.label }}
                </label>
            </div>
            {% if form.bring_doc_from_parents.errors %}<div class="help is-danger">{{form.bring_doc_from_parents.errors}}</div>{% endif %}
        </div>

        <div class="field">
            <label class="label">{{ form.charge_person.label_tag }}</label>
            <div class="control">
                {% render_field form.charge_person class="input" %}
            </div>
            {% if form.charge_person.errors %}<div class="help is-danger">{{form.charge_person.errors}}</div>{% endif %}
        </div>
        <br>
    </div>

    <!-- Выводится, если пользователю больше 18 -->
    <div id="for-parents-block" class="hidden">
        <div class="field">
            <div class="control">
                <label for="id_{{form.has_children.html_name}}" class="checkbox">
                    {{ form.has_children }} {{ form.has_children.label }}
                </label>
            </div>
            {% if form.has_children.errors %}<div class="help is-danger">{{form.has_children.errors}}</div>{% endif %}
        </div>

        <div class="hidden field" id="children-info-block">
            <label class="label">{{ form.children_info.label_tag }}</label>
            <div class="control">
                {% render_field form.children_info class="textarea" rows="3" %}
            </div>
            <p class="help">Напишите, сколько детей и по сколько им лет</p>
            {% if form.children_info.errors %}<div class="help is-danger">{{form.children_info.errors}}</div>{% endif %}
            <br>
        </div>
    </div>

    <div class="field">
        <label class="label">{{ form.city.label_tag }}</label>
        <div class="control">
            {% render_field form.city class="input" %}
        </div>
        {% if form.city.errors %}<div class="help is-danger">{{form.city.errors}}</div>{% endif %}
    </div>

    <div class="field">
        <label class="label">{{ form.photo.label_tag }}</label>
        <div class="control">
            {% render_field form.photo class="input" %}
        </div>
        {% if form.photo.errors %}<div class="help is-danger">{{form.photo.errors}}</div>{% endif %}
    </div>

    {% if registration %}
        <div class="field">
            <label class="label">{{ form.password1.label_tag }}</label>
            <div class="control">
                {% render_field form.password1 class="input" %}
            </div>
            {% if form.password1.errors %}<div class="help is-danger">{{form.password1.errors}}</div>{% endif %}
        </div>

        <div class="field">
            <label class="label">{{ form.password2.label_tag }}</label>
            <div class="control">
                {% render_field form.password2 class="input" %}
            </div>
            {% if form.password2.errors %}<div class="help is-danger">{{form.password2.errors}}</div>{% endif %}
        </div>

        <div class="field">
            <div class="control">
                <label for="id_{{form.accept_personal_data.html_name}}" class="checkbox">
                    {{ form.accept_personal_data }} Даю <a href="{% url 'personal_data_processing' %}">согласие на обработку персональных данных</a>.
                </label>
            </div>
            {% if form.accept_personal_data.errors %}<div class="help is-danger">{{form.accept_personal_data.errors}}</div>{% endif %}
        </div>

        <div class="field">
            <div class="control">
                <label for="id_{{form.accept_rules.html_name}}" class="checkbox">
                    {{ form.accept_rules }} С <a href="{% url 'rule' %}">правилами фестиваля</a> ознакомлен, готов соблюдать
                </label>
            </div>
            {% if form.accept_rules.errors %}<div class="help is-danger">{{form.accept_rules.errors}}</div>{% endif %}
        </div>
    {% endif %}

    {% if registration %}
        <button type="submit" class="button is-link">Зарегистрироваться</button>
    {% else %}
        <button type="submit" class="button is-link">Сохранить изменения</button>
    {% endif %}
</form>