{% extends "_base.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
        <h3 class="title is-3">Вы уверены, что хотите исключить ребенка «{{ object }}»?</h3>
        <input type="submit" value="Да" class="button is-link">
    </form>
{% endblock %}