{% extends "_base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="content">
            <h1 class="title is-1">Ваш профиль</h1>
        </div>

        <div class="tabs">
            <ul>
                <li><a href="{% url 'user_profile' %}">Редактирование профиля</a></li>
                <li class="is-active"><a>Указать детей</a></li>
            </ul>
        </div>

        {% if not request.user.order_set.all %}
            <form method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field">
                                <label class="label">{{ form.name.label_tag }}</label>
                                <div class="control">
                                    {% render_field form.name class="input" %}
                                </div>
                                {% if form.name.errors %}<div class="help is-danger">{{form.name.errors}}</div>{% endif %}
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label">{{ form.age.label_tag }}</label>
                                <div class="control">
                                    {% render_field form.age class="input" placeholder="Полных лет" %}
                                </div>
                                {% if form.age.errors %}<div class="help is-danger">{{form.age.errors}}</div>{% endif %}
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <label class="label">&nbsp;</label>
                                <input type="submit" class="button" value="Добавить">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <article class="message">
                <div class="message-body">
                    Вы можете добавлять и изменять в вашем профиле детей только до того, как совершите заказ.
                    В настоящий момент, вы уже сделали заказ. Вам нужно отменить заказ и тогда вы сможете изменять данные профиля
                </div>
            </article>
        {% endif %}
        <br>

        {% if request.user.children_set.all %}
            <h4 class="title is-4">Добавленные дети:</h4>
            <table class="table is-striped is-hoverable">
                {% for children in request.user.children_set.all %}
                <tr>
                    <td>
                        {{ children.name }}
                        <div class="help">{{ children.age }} годиков</div>
                    </td>
                    <td>
                        {% if not request.user.order_set.all %}
                        <a class="delete" href="{% url 'user_children_delete' children.pk %}"></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>
</div>
{% endblock %}