{% extends "_base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="columns">
    <div class="column is-4 is-offset-4">
        <div class="content">
            <h1 class="title is-1">Авторизация</h1>
        </div>
        {% if next %}
            {% if user.is_authenticated %}
                <p>У вашего аккаунта нет прав для просмотра этой страницы</p>
            {% else %}
                <p>Пожалуйста, авторизуйтесь, чтобы перейти к этой странице</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field">
                <label class="label">{{ form.username.label_tag }}</label>
                <div class="control has-icons-left">
                    {% render_field form.username class="input" %}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.password.label_tag }}</label>
                <div class="control has-icons-left">
                    {% render_field form.password class="input" %}
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <input type="submit" value="Войти" class="button is-link">
              </div>
              <div class="control">
                <a href="{% url 'password_reset' %}" class="button is-text">Забыли пароль?</a>
              </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {% if form.errors %}
            <p class="help is-danger">Вы указали неправильный логин или пароль. Попробуйте еще раз.</p>
        {% endif %}
        <br />

        <p class="help">
            Если у вас еще нет аккаунта, то вам нужно <a href="{% url 'registration' %}">зарегистрироваться</a>.
        </p>
    </div>
</div>

{% endblock %}