{% extends "_base.html" %}

{% block content %}
    <div class="">
        Вы вышли из системы, спасибо что были с нами. Для повторной авторизации вы можете <a href="{% url 'login' %}">пройти по ссылке</a>.
    </div>
{% endblock %}