{% extends "_base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title is-1">Забыли пароль?</h1>
        <p>Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
        <br>

        <form method="post">{% csrf_token %}
            <div class="form-row field-email">
                {{ form.email.errors }}

                <div class="field">
                    <label class="label">{{ form.email.label_tag }}</label>
                    <div class="control">
                        {% render_field form.email class="input" %}
                    </div>
                </div>
            </div>
            <br />

            <input type="submit" value="{% trans 'Reset my password' %}" class="button is-link">
        </form>
        <br>

        <p class="help">
            Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
        </p>
    </div>
</div>
{% endblock %}
