{% extends "_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title is-1">
            Ваш аккаунт с сайта «Уралкон-2018» недействителен
        </h1>
        <p>
            <a href="{% url 'registration' %}">Зарегистрируйтесь</a>, пожалуйста!
        </p>
        <p>
            Если вы ранее регистрировались на Уралкон-2019, письмо с инструкциями по восстановлению пароля летит к вам.
        </p>
        <br>
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
    </div>
</div>


{% endblock %}
