{% extends "_base.html" %}

{% block content %}
    <div class="content">
        <h1 class="title is-1">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ КЛИЕНТОВ-ФИЗИЧЕСКИХ И ЮРИДИЧЕСКИХ ЛИЦ</h1>

        <p>Пользователь, оставляя заявку на интернет-сайте https://ural-kon.ru, принимает настоящее Согласие на обработку персональных данных (далее – Согласие). Действуя свободно, своей волей и в своем интересе, а также подтверждая свою дееспособность, Пользователь дает свое согласие на обработку своих персональных данных со следующими условиями:</p>
        <ol>
            <li>Данное Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.</li>
            <li>Согласие дается на обработку следующих моих персональных данных:
                <ol>
                    <li>Персональные данные, не являющиеся специальными или биометрическими: номера контактных телефонов; адреса электронной̆ почты; место работы и занимаемая должность; пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip- адрес.</li>
                </ol>
            </li>
            <li>Персональные данные не являются общедоступными.</li>
            <li>Цель обработки персональных данных: обработка входящих запросов физических лиц с целью оказания консультирования; аналитики действий физического лица на веб-сайте и функционирования веб-сайта; проведение рекламных и новостных рассылок.</li>
            <li>Основанием для обработки персональных данных является: ст. 24 Конституции Российской Федерации; ст.6 Федерального закона No152-ФЗ «О персональных данных»; Устав ООО "ВОСТОК"; настоящее согласие на обработку персональных данных</li>
            <li>В ходе обработки с персональными данными будут совершены следующие действия: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (распространение, предоставление, доступ); блокирование; удаление; уничтожение.</li>
            <li>Персональные данные обрабатываются до отписки физического лица от рекламных и новостных рассылок. Также обработка персональных данных может быть прекращена по запросу субъекта персональных данных. Хранение персональных данных, зафиксированных на бумажных носителях осуществляется согласно Федеральному закону No125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</li>
            <li>Согласие может быть отозвано субъектом персональных данных или его представителем путем направления письменного заявления ООО "ВОСТОК" или его представителю по адресу, указанному в начале данного Согласия.</li>
            <li>В случае отзыва субъектом персональных данных или его представителем согласия на обработку персональных данных ООО "ВОСТОК" вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона No152-ФЗ «О персональных данных» от 27.07.2006 г.</li>
            <li>Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.</li>
        </ol>
    </div>
{% endblock %}