{% extends "_base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <div class="content">
            <h1 class="title is-1">Ваш профиль</h1>
        </div>

        <div class="tabs">
            <ul>
                <li class="is-active"><a>Редактирование профиля</a></li>
                <li><a href="{% url 'user_children' %}">Указать детей</a></li>
            </ul>
        </div>

        {% include 'users/_user_form.html' with form=form registration=False %}
    </div>
</div>
{% endblock %}