{% extends "_base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        <div class="content">
            <h1 class="title is-1">Регистрация</h1>
        </div>

        {% include 'users/_user_form.html' with form=form registration=True %}
        <br>

        <p class="help">
            Если у вас уже есть аккаунт, то вы можете <a href="{% url 'login' %}">авторизоваться</a>.
        </p>
    </div>
</div>
{% endblock %}