{% extends "_base.html" %}

{% block content %}
    <div class="content">
        <h1 class="title is-1">Правила фестиваля «Уралкон»</h1>

        <ol>
            <li>
                <p>Бейдж и браслет — официальные документы фестиваля, удостоверяющие личность участника и подтверждающие его право посещать мероприятия.</p>
                <p>После оплаты взноса участники, приехавшие с ночевкой, получают бейдж и специальный «ночной» браслет особого цвета. Участники, присутствующие на фестивале до 21:00, получают только «дневной» браслет.
        Каждый участник обязан носить бейдж и браслет на видном месте и предъявлять их по первому требованию организаторов или охраны.</p>
                <p>При утере бейджа или браслета участник обязан в кратчайшие сроки обратиться в службу регистрации за изготовлением копии. Стоимость копии бейджа — 300 рублей. При повторной утере бейджа — штраф в размере полной стоимости поселения. Случайно потерять браслет практически невозможно, поэтому за отсутствие браслета мы взимаем полную стоимость поселения. Однако если с браслетом все же что-то случилось и вы принесли испорченный браслет в службу регистрации — копия будет стоить те же 300 рублей.</p>
                <p>Люди, уличенные в попытке поучаствовать в фестивале «бесплатно», оплачивают полный взнос, штраф в размере 300 рублей и заносятся в «серый» список. При отказе оплатить взнос — немедленно выдворяются с территории базы и заносятся в «черный» список.</p>
                <p>«Дневной» браслет — это аналог «дневной проходки»: дает право на посещение мероприятий в дневное время — до 21:00. Участник с «дневным» браслетом, уличенный в пребывании на фестивале позднее этого часа, считается безбилетником.</p>
                <p>Если вы поначалу планировали уехать, а потом спонтанно решили остаться на ночь — сообщите в службу регистрации до 21:00: мы организуем поселение, выдадим «ночной» браслет и бейдж.</p>
            </li>
            <li>
                <p>Несовершеннолетние имеют право находиться на территории фестиваля только в сопровождении кого-либо из родителей или ответственного лица при наличии разрешения от родителей, оформленного по образцу. К разрешению должна быть приложена ксерокопия третьей страницы паспорта родителя (с ФИО и фотографией).</p>
                <p>Образец разрешения от родителей на посещение несовершеннолетним лицом фестиваля «Уралкон-2019»</p>

                <div class="section has-background-light">
                    <h3 class="title is-3">Расписка</h3>
                    <p>
                        Я, (ФИО), разрешаю своему (-ей) несовершеннолетнему (-ей) сыну/дочери (имя и фамилия) в возрасте (...) лет пребывать на территории фестиваля «Уралкон-2019» в период с 19 по 21 апреля в сопровождении (ФИО сопровождающего), на которого возлагаю полную ответственность за своего ребенка.
                    </p>
                    <p class="a-right">
                        Дата, подпись родителя + расшифровка<br>
                        Подпись сопровождающего + расшифровка
                    </p>
                </div>
                <p><em>К расписке должна быть приложена ксерокопия третьей страницы паспорта родителя (с ФИО и фотографией).</em></p>
                <br>
            </li>
            <li>Запрещается пребывание на турбазе с домашними животными.</li>
            <li>В номерах запрещается курение и приготовление пищи на открытом огне (примусах и т.п.).</li>
            <li>
                <p>В случае непреднамеренной или умышленной порчи имущества базы с виновных взыскивается стоимость испорченного в полном объеме.</p>
                <p>Действует принцип коллективной ответственности: при грубом нарушении правил отвечать за действия одного участника будет вся команда (или группа поселения) — вплоть до удаления с мероприятия.</p>
            </li>
            <li>Участникам фестиваля запрещается использовать радиостанции на волне организаторов.</li>
            <li>
                <p>На территории базы запрещено открыто носить и применять огнестрельное, травматическое, пневматическое, холодное оружие, а также оружие ударно-дробящего типа, электрошокеры, газовые баллончики, взрывчатые вещества.</p>
                <p>При нарушении данного правила охрана имеет право изъять запрещенный предмет, потребовать убрать его в номер или удалить участника с базы без возвращения взносов.</p>
            </li>
            <li>
                <p>За создание препятствий в проведении мероприятий, провокации конфликтных ситуаций, драки, неадекватное поведение, пребывание на территории базы в состоянии наркотического или сильного алкогольного опьянения участники фестиваля могут быть удалены с фестиваля и внесены в черный список.</p>
                <p>Участник, чьи действия нарушают Уголовный или Административный кодекс РФ, будет задержан охраной, передан сотрудникам полиции и внесен в черный список.</p>
            </li>
            <li>Организаторы фестиваля не несут ответственности за сохранность имущества участников.</li>
            <li>Если группа поселения в стандартном номере не укомплектована полностью, организаторы вправе подселять людей на свободные кровати и пенки. Группы поселения, состоящие из 1-2 человек, могут быть расформированы или объединены в одну комнату.</li>
        </ol>

        <h2 class="title is-2">О серых и черных списках</h2>

        <h3 class="title is-3">Серый список</h3>
        <p>Лица, внесенные в серый список в 2017 году, при регистрации на «Уралкон – 2018» оплачивают взнос на 300 руб. больше.</p>
        <p>Лица, внесенные в серый список в этом году, в следующем году при регистрации на фестиваль получают бейдж с соответствующей отметкой и присутствуют на фестивале до первого нарушения правил. В случае нарушения – удаляются без возвращения взносов и вносятся в черный список.
        </p>

        <h3 class="title is-3">Черный список</h3>
        <p>Лица, внесенные в черный список, к участию в фестивале не допускаются.</p>
    </div>
{% endblock %}