{% extends "_base.html" %}

{% load static %}

{% block content %}
<div>
    <h1 class="title is-1">Бронирование билетов</h1>

    {% if can_order and not order_stop %}
        <div class="tag is-warning subtitle">
            Если вы хотите приехать на фестиваль с детьми, то&nbsp;<a href="{% url 'user_children' %}">укажите их в профиле</a>
        </div>
    {% endif %}

    {% if not request.user.order_set.all and not request.user.has_group %}
    <div class="tabs">
        <ul>
            <li{% if '/alone/' in request.META.PATH_INFO %} class="is-active"{% endif %}>
                <a href="{% url 'order' %}">Поселиться самостоятельно</a>
            </li>
            <li{% if '/connect_group/' in request.META.PATH_INFO %} class="is-active"{% endif %}>
                <a href="{% url 'order_connect_group' %}">Присоединиться к группе поселения</a>
            </li>
            <li{% if '/create_group/' in request.META.PATH_INFO %} class="is-active"{% endif %}>
                <a href="{% url 'order_create_group' %}">Создать группу поселения</a>
            </li>
            <li{% if '/per_day/' in request.META.PATH_INFO %} class="is-active"{% endif %}>
                <a href="{% url 'order_per_day' %}">Без поселения</a>
            </li>
        </ul>
    </div>
    {% endif %}

    <div class="alone">
        <div class="columns">
            <div class="column is-8">

                {% if order_stop %}
                    {% include 'order/snippets/_order_stop.html' %}
                {% endif %}

                {% if request.user.has_group %}
                    {% include 'order/snippets/_has_group.html' with user=request.user order_stop=order_stop %}
                {% endif %}

                {% if request.user.get_order %}
                    {% include 'order/snippets/_user_order.html' with request=request without_other_mat_people=without_other_mat_people order_stop=order_stop %}
                {% endif %}

                {% if not order_stop %}
                    {% block center_column %}
                    {% endblock %}
                {% endif %}
            </div>
            {% if can_order %}
            <div class="column is-4">
                {% block right_column %}
                {% endblock %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}