{% extends "_base.html" %}

{% load humanize %}

{% block content %}
    <div class="content">
        <h1 class="title is-1">Заказ еды</h1>

        <div class="columns">
            <div class="column is-8">
                {% if order_stop %}
                    {% include 'order/snippets/_order_stop.html' %}
                {% endif %}

                {% if eat_order_status %}
                    <div class="notification {% if eat_order_status.status %}is-success{% else %}is-danger{% endif %}">
                        {{ eat_order_status.message }}
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                                <tr>
                                    <th>Время подачи</th>
                                    <th>Цена</th>
                                    <th></th>
                                </tr>
                        </thead>
                        <tbody>
                            {% for eat in eat_types %}
                                <tr>
                                    <td>
                                        {{ eat.title }}
                                        {% if eat.user_has %}
                                            <span class="help is-success">Оформлено</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="is-size-4">{{ eat.price|intcomma }} ₽</span>
                                    </td>
                                    <td>
                                        {% if not order_stop %}
                                            {% if eat.user_has %}
                                                <button type="submit" name="eat_type" value="{{ eat.name }}" class="button is-text">
                                                    Отказаться
                                                </button>
                                            {% else %}
                                                <button type="submit" name="eat_type" value="{{ eat.name }}" class="button is-link is-fullwidth is-outlined">
                                                    Заказать
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="selected-time box">
                    <div class="media">
                        <div class="media-content">
                            <div class="help">Итого к оплате за питание:</div>
                            <div>
                                <span class="is-size-1 has-text-grey">{{ request.user.get_eat_amount|intcomma }}</span><span class="is-size-4 has-text-grey">₽</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="notification is-info">Для детей питание заказывайте по приезду при получении бейджа.</div>
            </div>
        </div>
    </div>
{% endblock %}