{% extends "_base.html" %}

{% load widget_tweaks %}

{% block content %}
    <div class="columns">
        <div class="column is-6">
            <div class="content">
                <h1 class="title is-1">Заявка на проведение мероприятия</h1>

                <form method="post">
                    {% csrf_token %}

                    <div class="field">
                        <label class="label">{{ form.name.label_tag }}</label>
                        <div class="control">
                            {% render_field form.name class="input" %}
                        </div>
                        {% if form.name.errors %}<div class="help is-danger">{{form.name.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.contact_info.label_tag }}</label>
                        <div class="control">
                            {% render_field form.contact_info class="input" rows="3" %}
                            <p class="help">{{ form.contact_info.help_text|safe }}</p>
                        </div>
                        {% if form.contact_info.errors %}<div class="help is-danger">{{form.contact_info.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.description.label_tag }}</label>
                        <div class="control">
                            {% render_field form.description class="textarea" rows="3" %}
                            <p class="help">{{ form.description.help_text|safe }}</p>
                        </div>
                        {% if form.description.errors %}<div class="help is-danger">{{form.description.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.public_description.label_tag }}</label>
                        <div class="control">
                            {% render_field form.public_description class="textarea" rows="3" %}
                            <p class="help">{{ form.public_description.help_text|safe }}</p>
                        </div>
                        {% if form.public_description.errors %}<div class="help is-danger">{{form.public_description.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.what_need.label_tag }}</label>
                        <div class="control">
                            {% render_field form.what_need class="textarea" rows="3" %}
                            <p class="help">{{ form.what_need.help_text|safe }}</p>
                        </div>
                        {% if form.what_need.errors %}<div class="help is-danger">{{form.what_need.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.what_has.label_tag }}</label>
                        <div class="control">
                            {% render_field form.what_has class="textarea" rows="3" %}
                            <p class="help">{{ form.what_has.help_text|safe }}</p>
                        </div>
                        {% if form.what_has.errors %}<div class="help is-danger">{{form.what_has.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.placement.label_tag }}</label>
                        <div class="control">
                            {% render_field form.placement class="textarea" rows="3" %}
                            <p class="help">{{ form.placement.help_text|safe }}</p>
                        </div>
                        {% if form.name.errors %}<div class="help is-danger">{{form.placement.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.time.label_tag }}</label>
                        <div class="control">
                            {% render_field form.time class="textarea" rows="3" %}
                            <p class="help">{{ form.time.help_text|safe }}</p>
                        </div>
                        {% if form.time.errors %}<div class="help is-danger">{{form.time.errors}}</div>{% endif %}
                    </div>

                    <div class="field">
                        <label class="label">{{ form.need_charter.label_tag }}</label>
                        <div class="control">
                            {% render_field form.need_charter class="textarea" rows="3" %}
                            <p class="help">{{ form.need_charter.help_text|safe }}</p>
                        </div>
                        {% if form.need_charter.errors %}<div class="help is-danger">{{form.need_charter.errors}}</div>{% endif %}
                    </div>

                    <button type="submit" class="button is-link">
                        {% if form.initial.id %}
                            Сохранить изменения
                        {% else %}
                            Отправить заявку
                        {% endif %}
                    </button>
                </form>

                <!--<div class="message is-info">-->
                    <!--<div class="message-body">-->
                        <!--Ваша заявка на рассмотрении. Как только администрация примет выводы относительно заявки, мы с вами свяжемся.-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
{% endblock %}