{% extends "_base.html" %}

{% load widget_tweaks %}

{% block content %}
    <div class="columns">
        <div class="column is-8">
            <div class="content">
                <h1 class="title is-1">Заявки на проведение мероприятия</h1>

                {% for order in object_list %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ order.name }}</strong> <small>{{order.created_at|date:"d M Y"}}</small>
                                        {% if order.is_accepted %}
                                            <span class="tag is-success is-pulled-right">Одобрена</span>
                                        {% else %}
                                            <span class="tag is-info is-pulled-right">На рассмотрении</span>
                                        {% endif %}

                                        <br>
                                        {{ order.description }}
                                    </p>
                                </div>
                                {% if not order.is_accepted %}
                                    <nav class="level is-mobile">
                                        <div class="level-left">
                                            <a class="level-item" aria-label="reply" href="{% url 'event_request_edit' order.pk %}">
                                                <span class="icon is-small">
                                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </nav>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% empty %}
                    <article class="message">
                        <div class="message-body">
                            Если вы хотите провести какое-то мероприятие на фестивале, отправьте заявку и администрация ее рассмотрит
                        </div>
                    </article>
                {% endfor %}

                <a href="{% url 'event_request_create' %}" class="button is-link">Создать заявку</a>
            </div>
        </div>
    </div>
{% endblock %}