{% extends "_base.html" %}

{% block content %}
    <div class="content">
        <h1 class="title is-1">
            Спасибо за вашу заявку!
        </h1>
        <h2 class="subtitle">Как только мы ее рассмотрим, мы с вами свяжемся</h2>

    </div>
{% endblock %}