{% extends "_base.html" %}

{% load widget_tweaks static %}

{% block content %}
<div>
    <h1 class="title is-1">Бронирование билетов</h1>


    <div class="alone">
        <div class="columns">
            <div class="column is-8">
            <form method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="notification is-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="field">
                    <label class="label">{{ form.name.label_tag }}</label>
                    <div class="control">
                        {% render_field form.name class="input" %}
                    </div>
                    {% if form.name.errors %}<div class="help is-danger">{{form.name.errors}}</div>{% endif %}
                </div>
                <div class="field">
                    <label class="label">{{ form.password.label_tag }}</label>
                    <div class="control">
                        {% render_field form.password class="input" %}
                    </div>
                    {% if form.password.errors %}<div class="help is-danger">{{form.password.errors}}</div>{% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.size.label_tag }}</label>
                    <div class="control">
                        <div class="select">
                            {% render_field form.size class="input" %}
                        </div>
                        <span class="help">Включая детей</span>
                        {% if form.size.errors %}<div class="help is-danger">{{form.size.errors}}</div>{% endif %}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input type="submit" value="{% if form.instance.pk %}Сохранить изменения{% else %}Создать группу{% endif %}" class="button is-link">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}