{% extends "_base.html" %}

{% load static %}

{% block content %}
<div>
    <h1 class="title is-1">Редактирование расселения в номере</h1>

    <div class="alone">
        <div class="columns">
            <div class="column is-8">
                <script type="text/javascript">
                    {% if user.has_group_owner %}
                    const groupCount = {{ user.has_group.placement_group.get_all_participant|length }};
                    const hasGroupOwner = true;
                    {% else %}
                    const groupCount = {{ user.children_set.all|length }} + 1;
                    const hasGroupOwner = false;
                    {% endif %}

                    const withoutOtherMatPeople = parseInt({{without_other_mat_people}});
                    const discount = {
                        children_up_to_7_alone: parseInt({{discount.children_up_to_7_alone}}),
                        children_7_12: parseInt({{discount.children_7_12}}),
                        children_13_16: parseInt({{discount.children_13_16}}),
                    };
                    var roomClass = 'standart';
                    var totalPrice = 0;
                    var selectedRoom = {{selectedRoom|safe}};
                    var instance = {{instance.pk}};
                </script>

                <form method="post" id="order-room">
                    {% csrf_token %}
                    <input type="hidden" name="room" value="{{instance.room.pk}}" />

                    {% if user.has_group_owner %}
                    <input type="hidden" value="{{ user.has_group.placement_group.pk }}" name="placement_group">
                    {% endif %}

                    <div id="resettlement-block" class="">
                        <h4 class="title is-4">Расселение:</h4>
                        <table class="table is-striped is-hoverable is-fullwidth" >
                            {% for user in request.user.has_group_owner.get_all_participant %}
                                {% include 'order/snippets/_ressetlement_item.html' with user=user request=request %}
                            {% empty %}
                                {% include 'order/snippets/_ressetlement_item.html' with user=request.user request=request %}
                                {% for children in request.user.children_set.all %}
                                    {% include 'order/snippets/_ressetlement_item.html' with user=children request=request %}
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>

                    {% if user.has_group_owner %}
                    <div class="field" id="without_other_mat_people-block">
                        <div class="control">
                            <label for="without_other_mat_people" class="checkbox">
                                <input type="checkbox" value="1" name="without_other_mat_people"
                                       id="without_other_mat_people" class="checkbox"
                                       {% if instance.without_other_mat_people %}checked="true"{% endif %}>
                                Доплатить {{without_other_mat_people}}₽ за отсутствие пеночников
                            </label>
                            <p class="help">
                                Если вы не хотите, чтобы к вам в номер подселялись другие участники на пенках, то вы можете доплатить {{without_other_mat_people}}₽
                            </p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="notification is-danger hidden" id="order-error-message"></div>
                    <br>

                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Сохранить изменения" class="button is-link" id="">
                            <a href="{% url 'order' %}" class="button is-white">Вернуться</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
