{% extends "order/_base_order.html" %}

{% load static %}

{% block center_column %}
    <h4 class="title is-4">Выберите группу:</h4>

    {% if message %}
        <div class="notification {% if message.status %}is-success{% else %}is-danger{% endif %}">
            {{ message.message }}
        </div>
    {% endif %}


    {% if not request.user.has_group %}
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="connect-group-select" name="placement_group">
                            <option>---</option>
                            {% for group in groups %}
                            <option value="{{ group.pk }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field hidden" id="password-block">
                <label class="label">Укажите пароль от группы. Его знает автор группы:</label>
                <div class="control">
                    <input type="password" class="input" name="password" required>
                </div>
            </div>
            <div class="help">
                Обращаем внимание, что если у вас в профиле добавлены дети, то они тоже будут фигурировать как участники группы.
            </div>
            <br>

            <div class="field">
                <div class="control">
                    <input type="submit" value="Присоединиться" class="button is-link">
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}