{% extends "_base.html" %}

{% block content %}
    <div class="content">
        <h1 class="title is-1">Зарегистрированные участники</h1>
        <form method="GET">
            <div class="field has-addons">
                <div class="control">
                    <input name="search" value="{{ term }}" placeholder="Поиск по участникам" class="input">
                </div>
                <p class="control">
                    <input type="submit" value="Искать" class="button">
                </p>
            </div>
            <br>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ник</th>
                    <th>Имя и фамилия</th>
                    <th>Город</th>
                    <th>Проживание</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    {% if not user.is_children %}
                        <tr>
                            <td>{{ user.user }}</td>
                            <td>{{ user.user__nickname }}</td>
                            <td>{{ user.user__first_name}} {{ user.user__last_name}}</td>
                            <td>{{ user.user__city }}</td>
                            <td>
                                {{ user.order__room__block__name}}, номер: {{ user.order__room__room_number }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ user.user }}</td>
                            <td>{{ user.user__nickname }}, ребенок пользователя</td>
                            <td>{{ user.user__first_name}} {{ user.user__last_name}}</td>
                            <td>{{ user.user__city }}</td>
                            <td>
                                {{ user.order__room__block__name}}, номер: {{ user.order__room__room_number }}
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                <tr>
                    <td>
                        Пока у нас нет зарегистрированных участников
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}