{% extends "order/_base_order.html" %}

{% load static %}

{% block center_column %}
    {% if can_order %}
        <script type="text/javascript">
            {% if user.has_group_owner %}
            const groupCount = {{ user.has_group.placement_group.get_all_participant|length }};
            {% else %}
            const groupCount = {{ user.children_set.all|length }} + 1;
            {% endif %}

            const hasGroupOwner = {% if user.has_group_owner %}true{% else %}false{% endif %};
            const withoutOtherMatPeople = parseInt({{without_other_mat_people}});
            const discount = {
                children_up_to_7_alone: parseInt({{discount.children_up_to_7_alone}}),
                children_7_12: parseInt({{discount.children_7_12}}),
                children_13_16: parseInt({{discount.children_13_16}}),
            };
            var roomClass = 'standart';
            var totalPrice = 0;
            var selectedRoom = null;
            var instance = null;
        </script>
        <h4 class="title is-4">Выберите тип номера:</h4>

        <form method="post" id="order-room">
            {% csrf_token %}

            {% if user.has_group_owner %}
            <input type="hidden" value="{{ user.has_group.placement_group.pk }}" name="placement_group">
            {% endif %}

            <div class="tabs is-toggle is-fullwidth" id="room-type-choose">
                <ul>
                    <li class="is-active" data-class="standart">
                        <a>Стандарт</a>
                    </li>
                    <li data-class="luxary">
                         <a>Люкс</a>
                    </li>
                </ul>
            </div>

            <div class="field">
                <label class="label">Корпус:</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="block-select">
                        </select>
                    </div>
                </div>
            </div>

            <div class="field hidden" id="room-select-block">
                <label class="label">Номер:</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="room-select" name="room">
                        </select>
                    </div>
                </div>
            </div>
            <br>

            <div id="resettlement-block" class="hidden">
                <h4 class="title is-4">Расселение:</h4>
                <table class="table is-striped is-hoverable is-fullwidth" >
                    {% for user in request.user.has_group_owner.get_all_participant %}
                        {% include 'order/snippets/_ressetlement_item.html' with user=user request=request %}
                    {% empty %}
                        {% include 'order/snippets/_ressetlement_item.html' with user=request.user request=request %}
                        {% for children in request.user.children_set.all %}
                            {% include 'order/snippets/_ressetlement_item.html' with user=children request=request %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>

            {% if user.has_group_owner %}
            <div class="field hidden" id="without_other_mat_people-block">
                <div class="control">
                    <label for="without_other_mat_people" class="checkbox">
                        <input type="checkbox" value="1" name="without_other_mat_people" id="without_other_mat_people" class="checkbox">
                        Доплатить {{without_other_mat_people}}₽ за отсутствие пеночников
                    </label>
                    <p class="help">
                        Если вы не хотите, чтобы к вам в номер подселялись другие участники на пенках, то вы можете доплатить {{without_other_mat_people}}₽

                    </p>
                </div>
            </div>
            {% endif %}

            <div class="notification is-danger hidden" id="order-error-message"></div>

            <div class="field">
                <div class="control">
                    <input type="submit" value="Забронировать" class="button is-link" id="">
                </div>
            </div>

            {% include 'order/snippets/_room_amount.html' with user=request.user %}
        </form>
    {% endif %}
{% endblock %}

{% block right_column %}
    <h4 class="title is-h4">Корпуса</h4>
    <div id="blocks-list">

    </div>
{% endblock %}
