{% extends "order/_base_order.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
        <h3 class="title is-3">Вы уверены, что хотите отменить бронирование?</h3>
        <input type="submit" value="Да" class="button is-link">
    </form>
{% endblock %}