{% extends "order/_base_order.html" %}

{% load humanize static %}

{% block center_column %}
    <br>
    <h4 class="title is-4">Выберите тип проходки:</h4>
    <form method="POST">
        {% csrf_token %}
        <table class="table is-striped is-hoverable">
            {% for i in penetration_type %}
                <tr>
                    <td>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="PENETRATION_TYPE" value="{{ i.name }}"> {{ i.title }}
                            </label>
                        </div>
                    </td>
                    <td>
                        <span class="help">{{ i.price|intcomma }} ₽</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="help">
            Обращаем внимание, что выбранный класс билета «Без поселения» так же распространяется на всех детей, которые добавлены у вас в профиле. Итоговая сумма рассчитывается исходя из этого.
        </div>
        <br>

        <div class="field">
            <div class="control">
                <input type="submit" value="Забронировать" class="button is-link">
            </div>
        </div>
    </form>
{% endblock %}