{% extends "order/_base_order.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
        <h3 class="title is-3">Вы уверены, что хотите удалить группу «{{ object.name }}»?</h3>
        <p>
            С учетом вас, в группе состоят {{object.users.count}} человек.
        </p>
        <input type="submit" value="Да" class="button is-link">
    </form>
{% endblock %}