{% extends "_base.html" %}

{% block content %}
<div class="content">
    <div class="columns">
        <div class="column is-8">
            <h1 class="title is-1">Бронирование мест в автобусе</h1>

            {% if order_stop %}
                {% include 'order/snippets/_order_stop.html' %}
            {% endif %}

            <p>Мы заказываем трансферные автобусы до базы отдыха и обратно. Вы можете забронировать себе места на любой свободный рейс. Стоимость переезда оплачивается по факту, водителю автобуса.</p>

            {% if bus_update_status %}
                <div class="notification {% if bus_update_status.status %}is-success{% else %}is-danger{% endif %}">
                    {{ bus_update_status.message }}
                </div>
            {% endif %}

            <h3 class="title is-3">Екатеринбург — Хрустальная</h3>
            {% if user_select_from %}
                {% with bus_order=user_select_from.0 %}
                    <div class="selected-time box">
                        <div class="media">
                            <div class="media-content">
                                <div class="help">Ваша бронь:</div>
                                <div>
                                    <span class="is-size-1 has-text-grey">{{ bus_order.bus.time }}</span>
                                    {% if not order_stop %}
                                        <a href="#" class="js-toggle" data-target="bus-select-from">Выбрать другое время</a>,
                                        <a href="{% url 'transfer_delete' bus_order.pk %}">Отменить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endif %}

            <div id="bus-select-from" {% if user_select_from %}class="hidden"{% endif %}>
                <form method="post">
                    {% csrf_token %}
                    <label class="label">Рейс:</label>
                    <div class="field is-grouped">
                        <div class="control">
                            <div class="select">
                                <select name="bus-select-from">
                                    {% for bus in buses_from %}
                                    <option value="{{ bus.pk }}" {% if bus.freeplace_count == 0 %}disabled="true"{% endif %}>
                                        {{ bus.time }} (осталось {{bus.freeplace_count}} мест)
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-text">Забронировать место на рейс</button>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label for="with-children-from" class="checkbox">
                                <input type="checkbox" id="with-children-from" name="with-children-from"> еду с детьми (бронь будет распространяться на вас и на всех ваших детей)
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <h3 class="title is-3">Хрустальная – Екатеринбург</h3>
            {% if user_select_to %}
                {% with bus_order=user_select_to.0 %}
                    <div class="selected-time box">
                        <div class="media">
                            <div class="media-content">
                                <div class="help">Ваша бронь:</div>
                                <div>
                                    <span class="is-size-1 has-text-grey">{{ bus_order.bus.time }}</span>
                                    {% if not order_stop %}
                                        <a href="#" class="js-toggle" data-target="bus-select-to">Выбрать другое время</a>,
                                        <a href="{% url 'transfer_delete' bus_order.pk %}">Отменить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endif %}

            <div id="bus-select-to" {% if user_select_to %}class="hidden"{% endif %}>
                <form method="post">
                    {% csrf_token %}
                    <label class="label">Рейс:</label>
                    <div class="field is-grouped">
                        <div class="control">
                            <div class="select">
                                <select name="bus-select-to">
                                    {% for bus in buses_to %}
                                    <option value="{{ bus.pk }}" {% if bus.freeplace_count == 0 %}disabled="true"{% endif %}>
                                        {{ bus.time }} (осталось {{bus.freeplace_count}} мест)
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-text">Забронировать место на рейс</button>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label for="with-children-to" class="checkbox">
                                <input type="checkbox" id="with-children-to" name="with-children-to"> еду с детьми (бронь будет распространяться на вас и на всех ваших детей)
                            </label>
                        </div>
                    </div>
                </form>
            </div>

            <h2 class="title is-2">Как добраться самостоятельно</h2>
            <ul>
                <li>
                    <a href="http://www.crystalbaze.ru/index.php?option=com_content&view=article&id=9&Itemid=20">
                        Описание дороги с сайта базы
                    </a>
                </li>
                <li>
                    <a href="https://rasp.yandex.ru/suburban/yekaterinburg--khrustalnaya">Расписание электричек</a>
                </li>
                <li>
                    <a href="https://yandex.ru/maps/-/CVfnqL3A">База на карте</a>
                </li>
            </ul>

            <h3 class="title is-3">Координаты:</h3>
            <p>
                Широта: 56°51′27.89″N (56.857746)<br>
                Долгота: 60°10′31.49″E (60.175413)<br>
            </p>
            <p>
                Если ехать по новомосковскому тракту - рекомендуется сворачивать по указателю "Северка"
            </p>
        </div>
    </div>
</div>
{% endblock %}